<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />

  		<setting name="logImpl" value="STDOUT_LOGGING"/>

	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.tlink.project.user.model.dto.User" alias="User" />
		<typeAlias type="com.tlink.project.project.model.dto.Project" alias="Project" />
		<typeAlias type="com.tlink.project.chatting.model.dto.MyObjectType" alias="MyObjectType" />
		<typeAlias type="com.tlink.project.chatting.model.dto.videoConference" alias="videoConference" />
		<typeAlias type="com.tlink.project.chatting.model.dto.Chat" alias="Chat" />
    	<typeAlias type="com.tlink.project.work.model.dto.Work" alias="Work" />
    	<typeAlias type="com.tlink.project.work.model.dto.CommentWork" alias="CommentWork" />
    	<typeAlias type="com.tlink.project.work.model.dto.Todo" alias="Todo" />
		<typeAlias type="com.tlink.project.calendar.model.dto.CalendarData" alias="CalendarData" />
		<typeAlias type="com.tlink.project.notice.model.dto.Notice" alias="Notice" />
		<typeAlias type="com.tlink.project.notice.model.dto.NoticeComment" alias="NoticeComment" />
		<typeAlias type="com.tlink.project.notice.model.dto.NoticeFiles" alias="NoticeFiles" />
		<typeAlias type="com.tlink.project.thread.model.dto.ThreadChat" alias="ThreadChat"/>
		<typeAlias type="com.tlink.project.thread.model.dto.ThreadInfo" alias="ThreadInfo"/>
		<typeAlias type="com.tlink.project.thread.model.dto.ThreadFile" alias="ThreadFile"/>
		<typeAlias type="com.tlink.project.thread.model.dto.Crong" alias="Crong"/>

	</typeAliases>
	
	<!--mapper 파일(SQL 작성되는파일) 위치등록부분 -->
	<mappers>
	 	 <mapper resource="/mappers/user-mapper.xml" /> 
	 	 <mapper resource="/mappers/project-mapper.xml" /> 
	 	 <mapper resource="/mappers/email-mapper.xml" /> 
	 	 <mapper resource="/mappers/myPage-mapper.xml" /> 
	 	 <mapper resource="/mappers/video-mapper.xml" />
	 	 <mapper resource="/mappers/work-mapper.xml" />
	 	 <mapper resource="/mappers/workRest-mapper.xml" />
	 	 <mapper resource="/mappers/todoRest-mapper.xml" />
	 	 <mapper resource="/mappers/calendarData-mapper.xml" />
		 <mapper resource="/mappers/notice-mapper.xml" />
		 <mapper resource="/mappers/noticeComment-mapper.xml" />
		 <mapper resource="/mappers/thread-mapper.xml" />
	

	</mappers>


</configuration>
